

.surya{
   
    
    display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299); 
    
}  

 /*#resume-form {
     /* display: none;  */
  


#resume-template{
    display: none;
} 

.myimg{
    /* border: 1px solid black; */
    border-radius: 50%;
    width: 200px;
    height: 150px;

}
.background{
    background-color: aquamarine;
}
